.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: #0077b6;
  border-bottom: 1px solid #caf0f8;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo-text {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
}

.menu-icon {
  z-index: 1000;
  cursor: pointer;
}

.nav-links {
  position: absolute;
  top: 70px;
  right: 50px;
  background-color: #0077b6;
  padding: 15px;
  list-style-type: none;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #caf0f8;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  margin-right: 0;
}

.nav-links li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  color: #caf0f8;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1rem;
}

ul li a:hover {
  color: #caf0f8;
}

.active-link {
  color: #caf0f8;
  font-weight: bold;
  border-bottom: 2px solid #caf0f8;
}
